<div class="product-detail-page section-gap bg-white" *ngIf="detailData">
  <div class="container">
    <div fxLayout='row wrap' fxLayoutAlign="center center" class="col-gap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=90 fxFlex.lg="80" fxFlex.xl="90">
        <div fxLayout='row wrap' class="col-gap position-relative">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
            <div fxLayout='row wrap'>
              <div fxFlex.xs="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" *ngIf="detailData?.images?.length > 1">
                <div class="product-detail-image-gallery pr-4">
                  <mat-grid-list cols="1" rowHeight="1:1" gutterSize="20px">
                    <mat-grid-tile *ngFor="let img of detailData?.images; let i=index">
                      <div class="product-image-gallery-item">
                        <a id="{{i}}_img" class="p-link" [ngClass]="{ 'border-active': i === 0 }" href="javascript:void(0)" (mouseenter)="getImagePath(img, i)">
                          <img [src]="img.imagePath" alt="">
                        </a>
                      </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </div>

              <div fxFlex.xs="85" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85" class="relative" *ngIf="mainImgPath">
                <embryo-ImgZoom 
                [imgSrc]="mainImgPath" 
                    imgStyle="width:auto; height:auto;" 
                    resultStyle="background-repeat: no-repeat; z-index: 2; position:absolute;
                                   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;"
                    lensStyle="width:100px; height:100px"
                    containerStyle="">
                </embryo-ImgZoom>
              </div>
            </div>

            <div class="row col-12">
              <mat-tab-group  class="remove-border-bottom">
                <!-- Description Tab -->
                <mat-tab label="الوصف" *ngIf="!isLongDescription">
                  <div class="content">
                    <!-- Your description content goes here. 
                         For instance, you can bind the description from the product object -->
                    <p [innerHTML]="detailData.description"></p>
                  </div>
                </mat-tab>
              
               <!-- Specification Tab -->
              <mat-tab label="المواصفات" *ngIf="detailData?.specifications && detailData?.specifications?.length > 0">
                <div class="specification-content" class="mt-4 col-12">
                  <!-- Loop through each specification group -->
                  <div *ngFor="let spec of detailData.specifications" class="spec-group">
                    <div class="header"> <span style="margin-right: 30px;">{{ spec.header }}</span> </div>
                    <mat-table [dataSource]="spec.keyValuePairs" class="spec-table">
      
                      <!-- Key Column -->
                      <ng-container matColumnDef="key">
                        <mat-cell *matCellDef="let element" class="key-cell"> {{element.key}} </mat-cell>
                      </ng-container>
      
                      <!-- Value Column -->
                      <ng-container matColumnDef="value">
                        <mat-cell *matCellDef="let element" class="value-cell"> {{element.value}} </mat-cell>
                      </ng-container>
      
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div>
                </div>
              </mat-tab>
      
      
              </mat-tab-group>
              
            </div>





          </div>

          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
            <div class="product-detail-content">
              <h4>{{detailData?.name}}</h4>
              <div fxLayoutAlign="start center" class="mb-3">
              </div>
              <div class="product-detail-price">
                <div *ngIf="detailData?.oldPrice" class="old-price">
                  <span class="strike-through">{{ detailData?.oldPrice | currency:currency }}</span>
                </div>
                <h4 class="accent-color">{{totalPrice | currency:currency}} </h4>
              </div>
              <ul class="no-style mb-4">
                <li>
                  <span class="option-label"> التوفر </span>: 
                    <span *ngIf="detailData?.available">متوفر</span>
                    <span *ngIf="!(detailData?.available)">غير متوفر</span>
                </li>
                <li>
                  <span class="option-label">رمز المنتج </span>: {{detailData?.id}}
                </li>
                <li *ngIf="detailData?.brand">
                  <span class="option-label" >العلامة التجارية</span>: 
                    <ng-container>{{detailData?.brand?.englishName}}</ng-container>
                </li>
                <li *ngIf="detailData?.productColors.length > 0 ">
                  <div class="color-options">
                      <span class="option-label">اللون:</span>
                      <div class="color-buttons">
                          <div 
                              *ngFor="let color of detailData?.productColors" 
                              matTooltip="هذا اللون غير متوفر حاليا"
                              [matTooltipDisabled]="color?.available"
                          >
                              <button
                                  class="color-button"
                                  [style.background-color]="color?.color"
                                  (click)="selectColor(color)"
                                  [ngClass]="{ 'selected': selectedColor?.id === color?.id }"
                                  [disabled]="!color?.available"
                              ></button>
                          </div>
                      </div>
                  </div>
              </li>
              
              <li *ngIf="detailData?.storageOptions.length > 0">
                  <div class="storage-options"> 
                      <span class="option-label">مساحة التخزين:</span>
                      <div class="storage-buttons">
                          <div 
                              *ngFor="let storageOption of detailData.storageOptions"
                              matTooltip="مساحة التخزين غير متوفرة حاليا"
                              [matTooltipDisabled]="storageOption?.available"
                          >
                              <button
                                  class="storage-button"
                                  (click)="selectStorage(storageOption)"
                                  [ngClass]="{ 'selected': selectedStorage.id === storageOption.id }"
                                  [disabled]="!storageOption?.available"
                              >
                                  {{ storageOption.storageSize }} 
                              </button>
                          </div>
                      </div>
                  </div>
              </li>
            
              </ul>
              <div class="short-des" #description *ngIf="isLongDescription">
                <span class="option-label">الوصف :</span>
                <p class="formatDescription" [innerHTML]="detailData?.description">
                </p>
              </div>

              <div fxLayoutGap="30px" class="mb-3 select-group" *ngIf="detailData?.available">
                <div class="quantity-container">
                  <button mat-icon-button (click)="decreaseQuantity()">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="quantity">{{ selectedQuantity }}</span>
                  <button mat-icon-button (click)="increaseQuantity()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
              <div class="mb-5 detail-btns" *ngIf="detailData?.available">
                <button mat-raised-button color="accent" class="button-lg mr-3" (click)="addToCart(detailData)">أضف إلى السلة</button>
                <button class="button-lg" mat-raised-button (click)="buyNow(detailData)">شراء الان</button>
              </div>

              <div class="mb-5 detail-btns" *ngIf="!detailData?.available">
                <h4 style="color: rgb(230, 82, 82);">نعتذر هذا المنتج غير متوفر حاليا </h4>
              </div>
              
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>
</div>
