<!-- <div class="section-gap overlay-section pb-0">
    <div class="container">
      <div fxLayout="row wrap" class="col-gap feature-section-v2">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-card>
            <div class="feature-section-v2-list" fxLayoutAlign="flex-start">
              <button mat-fab color="primary"><i class="material-icons">
                verified_user
                </i></button>
              <div class="ml-4 feature-section-v2-content">
                <h4 class="mb-2 font-bold">كفالة مضمونة</h4>
                <p class="mb-0"> الكفالة الرسمية للجميع المنتجات مضمونة</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-card>
            <div class="feature-section-v2-list" fxLayoutAlign="flex-start">
              <button mat-fab color="primary"><i class="material-icons">
                attach_money
                </i></button>
              <div class="ml-4 feature-section-v2-content">
                <h4 class="mb-2 font-bold">الدفع نقدا عند التسليم</h4>
                <p class="mb-0"> الدفع نقدا عند التسليم</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
          <mat-card>
            <div class="feature-section-v2-list" fxLayoutAlign="flex-start">
              <button mat-fab color="primary"><i class="material-icons">
                local_shipping
                </i></button>
              <div class="ml-4 feature-section-v2-content">
                <h4 class="mb-2 font-bold">توصيل سريع</h4>
                <p class="mb-0">توصيل من يوم الى ثلاثة ايام لجميع مناطق الضفة و القدس</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

   -->

   <div class="feature-section">
    <div class="feature-item">
      <mat-icon aria-hidden="false" aria-label="Verified user icon">verified_user</mat-icon>
      <h4>كفالة مضمونة</h4>
      <p>الكفالة الرسمية للجميع المنتجات مضمونة</p>
    </div>
    <div class="feature-item">
      <mat-icon aria-hidden="false" aria-label="Money icon">attach_money</mat-icon>
      <h4>الدفع نقدا عند التسليم</h4>
      <p>الدفع نقدا عند التسليم</p>
    </div>
    <div class="feature-item">
      <mat-icon aria-hidden="false" aria-label="Shipping icon">local_shipping</mat-icon>
      <h4>توصيل سريع</h4>
      <p>توصيل من يوم الى ثلاثة ايام لجميع مناطق الضفة و القدس</p>
    </div>
  </div>
  