<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div class="row ">
  
      <app-upload-images  #uploadImage [imagesList]="selectedImages"
       (imagesEvent)="receiveImages($event)"
        (deletedImages)="receiveDeletedImages($event)"></app-upload-images>
  
    </div>

    <div class="spinner-container" *ngIf="loading">
        <mat-spinner class="custom-spinner"></mat-spinner>
      </div>
  
    <div class="row ">
  
        <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Product Name</mat-label>
                <input   matInput placeholder="Ex. Computers"  formControlName="productName">
              </mat-form-field>
        </div>
  
        <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Short Description</mat-label>
                <input matInput placeholder="Dell Core I9 ,1T SSD"  formControlName="shortDescription">
              </mat-form-field>
        </div>
    </div>
  
  
    <div class="row ">
  
      <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Old Price</mat-label>
              <input   matInput type="number" placeholder="Ex. 500"  formControlName="oldPrice">
            </mat-form-field>
      </div>
  
      <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Price</mat-label>
              <input matInput type="number" placeholder="Ex. 400"  formControlName="price">
            </mat-form-field>
      </div>
  
  </div>
  
  
  
    <!-- ddl brand & category -->
    <div class="row ">
  
        <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
            <h4>Please Select Brand</h4>
            <mat-form-field appearance="fill">
                <mat-label>Type ...</mat-label>
                <mat-select   formControlName="brand">
                    <mat-option *ngFor="let type of brandType" [value]="type.id">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
  
        <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
            <h4>Please Select Category</h4>
            <mat-form-field appearance="fill">
                <mat-label>Type ...</mat-label>
                <mat-select  formControlName="category" (selectionChange)="onCategoryChange($event)">
                    <mat-option *ngFor="let type of categoryType" [value]="type.id">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
  
    </div>

    <div class="row">
        <div formArrayName="categoryFeatures" *ngFor="let feature of productForm.get('categoryFeatures').controls; let i = index">
          <div [formGroupName]="i">
            <label>{{feature.get('key').value}}:</label>
            <mat-radio-group formControlName="value">
              <mat-radio-button *ngFor="let val of feature.get('values').value" [value]="val">{{val}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>          
      </div>
      
  
  
    <div class="row mt-4">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Do this product available in stock ?</h4>
        <mat-radio-group formControlName="stock" (change)="radioChange()">
            <mat-radio-button class="me-3" [value]="true" selected>Yes</mat-radio-button>
            <mat-radio-button class="me-3" [value]="false">No</mat-radio-button>
        </mat-radio-group>
    </div>
  
  </div>
  
  
    <div class="row mt-4">
  
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h4>Do this product has multiple color ?</h4>
            <mat-radio-group formControlName="isMultipleColor" (change)="radioChange()">
                <mat-radio-button class="me-3" [value]="true">Yes</mat-radio-button>
                <mat-radio-button class="me-3" [value]="false" selected>No</mat-radio-button>
            </mat-radio-group>
        </div>
  
        <div class="col-lg-6 col-md-12 col-sm-12 " *ngIf="productForm.value.isMultipleColor">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label  >How many colors ?</mat-label>
                <input  matInput placeholder="5" name="test" type="number" (keyup)="setNumberOfColor($event)" required formControlName="numberOfColor">
            </mat-form-field>
            <p class="text-danger" *ngIf="numberOfColor.errors?.['incorrect'] ">The maximum number is 50</p>
  
        </div>
    </div>
  
    <div class="row" *ngIf="productForm.value.numberOfColor && productForm.value.isMultipleColor">
        <div class="col">
            <div formArrayName="colors">
                <mat-label class="me-4" >Please make sure to select for all colors?</mat-label>
                <ng-container *ngFor="let alias of colors.controls; let i=index">
                    <input id="alias-{{ i }}"  style="width:21px;" class="rounded-circle color1 ms-3" type="color" [formControlName]="i">
                </ng-container>
            </div>
        </div>
    </div>

    <div formArrayName="storage" *ngIf="productForm.get('hasMultipleStorage').value">
        <div *ngFor="let storage of storage.controls; let i=index" [formGroupName]="i" class="storage-row mt-5">
          <mat-form-field appearance="outline" class="storage-field">
            <mat-label>Storage Size</mat-label>
            <input formControlName="storageSize" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="storage-field">
            <mat-label>Storage Price</mat-label>
            <input formControlName="additionalPrice" matInput type="number">
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeStorage(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
        <div class="add-storage-row">
          <button type="button"  mat-raised-button color="primary" (click)="addStorage()">
            <mat-icon>add</mat-icon>
            Add Storage
          </button>
        </div>
      </div>
      
      <mat-checkbox formControlName="hasMultipleStorage" class="mt-5">Has Multiple Storage</mat-checkbox>
      
  
      <div class="checkbox-container mt-5">
        <mat-checkbox formControlName="ourChoice">Our Choice</mat-checkbox>
        <mat-checkbox formControlName="newArrival">New Arrival</mat-checkbox>
        <mat-checkbox formControlName="bestSeller">Best Seller</mat-checkbox>
        <mat-checkbox formControlName="isTable">Is Table</mat-checkbox>
      </div>
  
    <!-- description -->
    <div  class="mt-4" style="border-style: solid; border-width:1px; border-color: rgb(185 185 185);padding: 14px; border-radius: 25px;">
        <div class="row mb-4">
  
            <div class="col mt-1">
                <h4>Description: </h4>
            </div>
        </div>
  
        <!-- text description -->
        <ng-container >
          <div id="toolbar">
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-size">
                <option value="small">Small</option>
                <option selected>Normal</option>
                <option value="large">Large</option>
                <option value="huge">Huge</option>
              </select>
            </span>
            <span class="ql-formats">
              <button class="ql-align" value="center"></button>
              <button class="ql-align" value="right"></button>
              <button class="ql-align" value="justify"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
            </span>
          </div>
  
  
          <div #editor class="quill-editor"  name="textDescription" ></div>
        </ng-container>
  
  
    </div>
  
    <div class="row">
        <div class="col">
            <p>Form Value: {{format(productForm.value)}}</p>
        </div>
    </div>
  
    <!-- <div class="row">
        <div class="col">
            <p>Image value: {{format(selectedImages)}}</p>
        </div>
    </div>
   -->
  
  
  
  
    <div class="row">
        <div class="col-12" style="margin-top: 50px;">
            <div class="d-flex flex-column" style="justify-content: center; align-items: center;">
                <button type="submit" class="btn btn-success btn-md btn-block" style="width: 300px;">
                    {{ productDate && productDate.id ? 'Update' : 'Add' }}
                </button>
            </div>
        </div>
    </div>
  
  </form>
  