<!-- <div class="main-content">
    <div class="container-fluid"> -->
      <div class="row">
         <div class="col">
             <h4>Please Select the type</h4>
             <mat-form-field appearance="fill">
                 <mat-label>Type ...</mat-label>
                 <mat-select [(value)]="selectedType">
                     <mat-option *ngFor="let type of productType" [value]="type.value">
                     {{type.value}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>
         </div>
     </div>
     <div class="row mt-4">
         <app-category-form class="col" *ngIf="checkForm() =='categoryFrom'" [selectedType]="selectedType"> </app-category-form>

         <app-product-form class="col" *ngIf="checkForm() =='productForm'" [selectedType]="selectedType"></app-product-form>

     </div>
 <!-- </div>
</div> -->

