<perfect-scrollbar class="m-0 p-0 invoice-popup" *ngIf="product">
   <div class="bg-white final-receipt-page">
      <div class="final-receipt">
         <mat-card class="pt-0 w-100 m-0">
            <div id="payment-receipt">
               <div class="text-center bg-grey p-4 mat-card-pad-none">
                  <h4>Order status</h4>
                  <h5 class="mb-4" *ngIf="product?.status == 'PAID'"  >Payment is successfully processsed</h5>
                  <!-- <h6 class="mb-4">Transaction ID:267676GHERT105467</h6> -->
                  <img  *ngIf="product?.status == 'PAID'" src="assets/images/checked.png" width="64" height="64" alt="Success">
               </div>
               <div class="py-5">
                  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
                     <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                        <h6>Summery</h6>
                        <p class="mb-1">Order ID: {{product?.invoiceId}}</p>
                        <p class="mb-1">Order Date: {{product?.orderDate | date:'yyyy-mm-dd HH:mm'}} </p>
                        <p class="mb-1">Order Total: {{product?.totalPrice|currency}}</p>
                     </div>
                     <div class="pb-4" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                        <h6>Ship To</h6>
                        <p class="mb-1 text-capitalize">{{product?.guestName}}</p>
                        <p class="mb-1 text-capitalize">{{product?.shippingCity}}</p>
                        <p class="mb-1 text-capitalize">{{product?.shippingAddress}}</p>
                        <p class="mb-1 text-capitalize"></p>
                        <p class="mb-1">Contact No. {{product?.guestPhone}}</p>
                     </div>
                  </div>
                  <div class="py-4 text-center bg-grey">
                     <!-- <h4>Expected Date of Delivery</h4>
                     <h3>December 31, 2019</h3> -->
                  </div>
                  <h4 class="pt-5">Your Ordered Details</h4>
                  <div *ngFor="let order of product?.orderItems" fxLayout="row wrap" fxLayoutAlign="start center" class="col-gap">
                     <div fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                        <img width="100" src={{order?.product?.thumbnailsImage}} alt="cart Image">
                     </div>
                     <div fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                        <h6>Product Name</h6>
                        <p class="font-bold">{{order?.product?.name}}</p>
                     </div>
                     <div fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                        <h6>Quantity</h6>
                        <p>{{order?.quantity}}</p>
                     </div>
                     <div fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                        <h6>Price</h6>
                        <p>{{order?.purchasePrice|currency}}</p>
                     </div>
                     <div fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                        <!-- <h6>Color</h6>
                        <input type="color" value={{order?.productColor?.color}} > -->
                     </div>
                     <div class="color-container" *ngIf="order?.productColor?.color" fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                        <h6>Color</h6>
                        <div class="color-display" [style.background-color]="order?.productColor?.color"></div>
                    </div>                                     
                     <div *ngIf="order?.productStorageOption?.storageSize" fxFlex.xs="50" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                        <h6>Storage</h6>
                        <p>{{order?.productStorageOption?.storageSize}} </p>
                     </div>
                     <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                        <hr class="dark-border spacer abo">
                     </div>
                  </div>
                  <div class="text-right">
                     <div>
                        <p>Subtotal</p><span fxFlex></span> {{product?.totalPrice|currency}}
                     </div>
                     <div>
                        <!-- <p>Shipping</p><span fxFlex></span> {{12.95|currency}} -->
                     </div>
                     <div>
                        <!-- <p>Tax(GST)</p><span fxFlex></span> {{27.95|currency}} -->
                     </div>
                     <hr class="spacer">
                     <div class="mb-4">
                        <h4>Total</h4><span fxFlex></span>
                        <h4>{{product?.totalPrice|currency}}</h4>
                     </div>
                  </div>
               </div>
            </div>
            <!-- payment-receipt -->
            <!-- <div class="btn-group">
               <button mat-raised-button color="accent" class="button-lg" type="button">Download PDF</button>
               <button mat-raised-button color="accent" class="button-lg" [routerLink]="['/admin-panel/reports']" (click)="dialogRef.close()">Go to Home</button>
            </div> -->
         </mat-card>
      </div>
      <!-- final-receipt -->
   </div>
   <!-- final-receipt-page -->
</perfect-scrollbar>