

h6 {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
}

.color-display {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    // border-radius: 50%; /* This makes it a circle. If you want a square, you can remove this line. */
}

