.mat-card-image {
    text-align: center;
    width: calc(75% + 0px);
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.product-title {
    height: 3.5em; /* Adjust this value as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
  }

  