<!-- <embryo-PageTitle heading="Terms and Conditions" subHeading="Please read and contact with if you have some issue."></embryo-PageTitle> -->
<div class="inner-container">
  <div class="terms-page">
    <h2 class="page-title">الشروط والأحكام</h2>
    <p class="page-subtitle">يرجى قراءة هذه الشروط والأحكام بعناية والتواصل معنا إذا كان لديك أي استفسار.</p>
    <div class="terms-content">
      <h3>1. القانون الساري</h3>
      <p>
        يخضع استخدامك لهذا الموقع وجميع المعاملات التي تتم عبره للقوانين الفلسطينية النافذة. وبتصفحك
        للموقع والتسوق من خلاله، فإنك توافق على الالتزام بالقوانين واللوائح المعمول بها في فلسطين.
      </p>

      <h3>2. المنتجات والأسعار</h3>
      <p>
        نحن نسعى جاهدين لتقديم أدق المعلومات حول المنتجات والأسعار على الموقع. ومع ذلك، قد تحدث
        أخطاء غير مقصودة أو تغييرات في الأسعار. إذا كنت تواجه أي مشكلة في الأسعار أو المنتجات، يرجى
        الاتصال بنا للحصول على التصحيحات اللازمة.
      </p>

      <h3>3. الدفع والتسليم</h3>
      <p>
        يمكنك الاطلاع على سياسة الدفع والتسليم الخاصة بنا على صفحة المعلومات الخاصة بالتوصيل والشحن.
        نحن نسعى لتوفير عملية دفع آمنة وسهلة وتسليم سريع لجميع الطلبات.
      </p>

      <h3>4. سياسة الإرجاع والاسترداد</h3>
      <p>
        في حال كانت لديك مشكلة أو غير راضٍ عن المنتج الذي تم شراؤه، يمكنك الاطلاع على سياسة الإرجاع
        والاسترداد الخاصة بنا على صفحة المعلومات الخاصة بالإرجاع والاسترداد.
      </p>

      <h3>5. الخصوصية والأمان</h3>
      <p>
        نحن نولي أهمية كبيرة لحماية خصوصية المعلومات الشخصية الخاصة بك. يرجى قراءة سياسة الخصوصية
        الخاصة بنا لفهم كيفية جمع واستخدام وحماية المعلومات التي تقدمها لنا.
      </p>

      <h3>6. الحقوق الفكرية</h3>
      <p>
        جميع الحقوق الفكرية للمحتوى والصور الموجودة على الموقع تنتمي إلى متجرنا. يُمنع نسخ أو نقل أو
        استخدام أي جزء من المحتوى دون الحصول على إذن كتابي منا.
      </p>

      <h3>7. التغييرات والتعديلات</h3>
      <p>
        نحتفظ بحق تحديث أو تغيير هذه الشروط والأحكام بشكل دوري. يُرجى مراجعة هذه الصفحة بشكل متكرر
        للتعرف على أي تحديثات.
      </p>

      <h3>8. التواصل معنا</h3>
      <p>
        إذا كان لديك أي استفسار أو تحتاج إلى مساعدة، يُرجى التواصل معنا عبر البريد الإلكتروني
        support@example.com أو عبر رقم الهاتف 123456789.
      </p>
    </div>
  </div>
</div>
