<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" *ngIf="products && products.length > 0">
  <div class="removePadding" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="{{lg}}" fxFlex.xl="{{xl}}" *ngFor="let product of products; let i=index; trackBy: trackByObjectID">
     <mat-card class="product-card" *ngIf="gridLength && (i<gridLength)">
      <a class="p-link" [routerLink]="['/products',product?.categories[0]?.englishName, product?.id]" [queryParams]="{categoryId:product?.categories[0]?.id}">
        <img class="product-image default-image" width="626" height="800" mat-card-image [src]="product?.thumbnailsImage" [alt]="product?.images[0]?.imagePath || 'default-image'">
        <img *ngIf="product.images.length > 1"   width="626" height="800"  class="product-image hover-image mat-card-image"  mat-card-image [src]="product?.secondThumbnailsImage" [alt]="product?.images[1]?.imagePath || 'default-image'">
      </a>
      <!-- <div class="wishlist-icon {{i}}-wishlist" id="{{i}}-wishlist">
         <a (click)="productAddToWishlist(product, i+'-wishlist')"><i  class="material-icons"> favorite </i></a>
      </div> -->
        <mat-card-content class="product-content relative">
           <p class="product-title"><a [routerLink]="['/products', product?.categories[0]?.englishName, product?.id]" [queryParams]="{categoryId:product?.categories[0]?.id}" class="title-link">{{product?.name}}</a> </p>
           <div>
              <div class="editPrice" *ngIf="product?.available">
               <h6 class="accent-color">{{product?.price | currency: currency}}</h6>
               <h6 class="old-price" *ngIf="product?.oldPrice">{{product?.oldPrice | currency: currency}}</h6>
               <!-- <div class="rating-star">
                  <embryo-Rating [rate]="product.rating"></embryo-Rating>
               </div> -->
            </div>
            <div *ngIf="!product?.available" class="out-of-stock-label editPrice">
               غير متوفر
           </div>
           </div>
           <!-- <div class="m-icon" *ngIf="checkCartAlready(product)">
              <embryo-AddToCardButton [product]="product" (addToCart)="addToCartProduct($event)"></embryo-AddToCardButton>
           </div>
           <div class="m-icon" *ngIf="!checkCartAlready(product)">
               <button mat-fab [routerLink]="['/products', product?.type, product?.id]"><i class="material-icons">remove_red_eye</i> </button>
           </div> -->

        </mat-card-content>
     </mat-card>
     <!-- Multiple show products grid -->
     <mat-card class="product-card" *ngIf="!gridLength">
        <a class="p-link" *ngIf="product?.id" [routerLink]="['/products', product?.type, product?.id]" [queryParams]="{categoryId:product?.categories[0]?.id}">
          <img class="product-image default-image" width="626" height="800" mat-card-image [src]="product?.thumbnailsImage" [alt]="product?.images[0]?.imagePath || 'default-image'">
          <img *ngIf="this.product.images.length > 1" width="626" height="800"  class="product-image hover-image mat-card-image"  mat-card-image [src]="product?.secondThumbnailsImage" [alt]="product?.images[1]?.imagePath || 'default-image'">
        </a>
        <!-- <a class="p-link" *ngIf="!product?.id" [routerLink]="['/products/accessories/17']">
          <img width="626" height="800" mat-card-image [src]="product?.thumbnailsImage" [ngClass]="{ transparent: !loaded }" (load)="onLoad()" [alt]="product?.images[0]?.imagePath">
        </a> -->
        <!-- <div class="wishlist-icon {{i}}-wishlist" id="{{i}}-wishlist">
            <a (click)="productAddToWishlist(product, i+'-wishlist')"><i  class="material-icons"> favorite </i></a>
         </div> -->
        <mat-card-content class="product-content relative">
           <p class="product-title"><a *ngIf="product?.id" [routerLink]="['/products', product?.categories[0]?.englishName, product?.id]" [queryParams]="{categoryId:product?.categories[0]?.id}" class="title-link">{{product?.name}}</a> </p>
           <!-- <p><a *ngIf="!product?.id" [routerLink]="['/products/accessories/17']" class="title-link">{{product?.name}}</a> </p> -->
           <div>
              <div class="editPrice" *ngIf="product?.available">
                 <h6 class="accent-color">{{product?.price | currency: currency}}</h6>
                 <h6 class="old-price" *ngIf="product?.oldPrice">{{product?.oldPrice | currency: currency}}</h6>
                 <!-- <div class="rating-star">
                    <embryo-Rating [rate]="product.rating"></embryo-Rating>
                 </div> -->
              </div>
              <div *ngIf="!product?.available" class="out-of-stock-label editPrice">
               غير متوفر
             </div>
            
           </div>
           <!-- <div class="m-icon" *ngIf="checkCartAlready(product)">
              <embryo-AddToCardButton [product]="product" (addToCart)="addToCartProduct($event)"></embryo-AddToCardButton>
           </div> -->
            <!-- <div class="m-icon" *ngIf="!checkCartAlready(product)">
               <button mat-fab *ngIf="product?.id" [routerLink]="['/products', product?.type, product?.id]"><i class="material-icons">remove_red_eye</i> </button>
               <button mat-fab *ngIf="!product?.id"[routerLink]="['/products/accessories/17']"><i class="material-icons">remove_red_eye</i> </button>
           </div> -->

        </mat-card-content>
     </mat-card>
  </div>
</div>

