<ng-container *ngIf="pageTitle">
	<div class="inner-container section-gap">
  		<div class="container">

			<div fxLayout="row wrap"  class="col-gap">
				<!-- <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="25" fxFlex.xl="25">

					</div> -->
					<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="algolia-main-list">

						<ng-container *ngIf="requestType == 'mainSearch'">
							<h4 class="row"> نتائج البحث عن : {{searchObj.search}}</h4>


							<div class="search-criteria mt-4">
								<h4>Search criteria</h4>
								
								<div class="search-panel">
									<!-- Search Input -->
									<div class="search-box2">
										<input type="text" placeholder="Search..." [(ngModel)]="searchObj.search">
									</div>

									<!-- Dropdown for Categories -->
									<div class="category-dropdown">
										<select [(ngModel)]="selectedCategory">
											<option value="">All Categories</option>
											<option *ngFor="let type of categoryType" [value]="type.id">{{type.value}}</option>
										</select>
									</div>

									<!-- Search Button -->
									<div class="search-btn-wrap">
										<button class="search-btn" (click)="getProducts()">Search</button>
									</div>
								</div>
							</div>
						</ng-container>

							<!-- Added section for the new dropdowns -->
							<div class="mt-4 filter-panel" *ngIf="(productList && productList.length>0)">
								<!-- Number of Results per page -->
								<div class="results-dropdown">
									<select [(ngModel)]="resultsPerPage" (change)="getProducts()">
										<option value="10">10 Results/Page</option>
										<option value="20">20 Results/Page</option>
										<option value="30">30 Results/Page</option>
										<!-- ... add more options if required -->
									</select>
								</div>

								<!-- Sort By Dropdown -->
								<div class="sortby-dropdown" >
									<select [(ngModel)]="sortBy" (change)="getProducts()">
										<option value="DEFAULT">Default</option>
										<option value="LOWER_TO_HIGHER">Sort by Price (Low to High)</option>
										<option value="HIGHER_TO_LOWER">Sort by Price (High to Low)</option>
										<!-- ... add more options if required -->
									</select>
								</div>
							</div>

							<div class="mt-4" style="border-bottom: 1px solid #eee;"></div>

							<div class="products-container">

							<ng-container *ngIf="(productList && productList.length>0); else errorBlock">
								<div class="spinner"  *ngIf="isLoading">
									<mat-progress-spinner   [mode]="'indeterminate'"></mat-progress-spinner>
								  </div>
								<embryo-ProductGrid *ngIf="productList" [currency]="embryoService?.currency" [products]="productList" (addToCart)="addToCart($event)" (addToWishList)="addToWishList($event)" gridThree=true>
								</embryo-ProductGrid>
							</ng-container>
							</div>
							<ng-template #errorBlock>
								<div class="no-product-found">
									No Product Found
								</div>
							</ng-template>
							
						
							<div class="pagination-container" *ngIf="(productList && productList.length>0)">
								<button mat-button (click)="changePage(0)" [disabled]="searchObj.page === 0"><i class="fa fa-angle-double-left"></i></button>
								<button mat-button (click)="changePage(searchObj.page - 1)" [disabled]="searchObj.page === 0"><i class="fa fa-angle-left"></i></button>
								
								<span *ngFor="let page of displayedPages" 
									  [class.active-page]="page - 1 === searchObj.page"
									  (click)="changePage(page - 1)">{{ page }}</span>
								
								<button mat-button (click)="changePage(searchObj.page + 1)" [disabled]="searchObj.page === totalPages - 1"><i class="fa fa-angle-right"></i></button>
								<button mat-button (click)="changePage(totalPages - 1)" [disabled]="searchObj.page === totalPages - 1"><i class="fa fa-angle-double-right"></i></button>
							</div>
							
								
					

						</div>
			</div>
	 </div>
  </div>
</ng-container>

